force-app/main/default/flows/Buying_Product_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_placed_Successfully_Mail</name>
        <label>Order placed Successfully Mail</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Order_Placed_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Orderplacedemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Customer_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Order Placed Successfully</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Unavailable_email</name>
        <label>Send Unavailable email</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>OFS_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProductUnavailableEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Customer_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Product out of stock</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Availability</name>
        <label>Check Availability</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_record_in_All_orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Available</defaultConnectorLabel>
        <rules>
            <name>Out_Of_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetching_Product_Details.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Unavailable_email</targetReference>
            </connector>
            <label>Out Of Stock</label>
        </rules>
    </decisions>
    <description>Edited screens view</description>
    <environments>Default</environments>
    <formulas>
        <name>DecrementQuantity</name>
        <dataType>Number</dataType>
        <expression>ABS({!Fetching_Product_Details.Quantity__c} - 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Buying Product Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buying Product Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_record_in_All_orders</name>
        <label>Create record in All orders</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Order_placed_Successfully_Mail</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>Customer_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Fetching_Product_Details.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRP__c</field>
            <value>
                <elementReference>Fetching_Product_Details.MRP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Fetching_Product_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Series__c</field>
            <value>
                <elementReference>Fetching_Product_Details.Series__c</elementReference>
            </value>
        </inputAssignments>
        <object>All_Orders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetching_Product_Details</name>
        <label>Fetching Product Details</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mobile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Decrement_Quantity</name>
        <label>Decrement Quantity</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetching_Product_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>DecrementQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Mobile__c</object>
    </recordUpdates>
    <screens>
        <name>Customer_Details_Screen</name>
        <label>Customer Details Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fetching_Product_Details</targetReference>
        </connector>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Email</name>
            <dataType>String</dataType>
            <fieldText>Customer Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OFS_Screen</name>
        <label>OFS Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OFSMessage</name>
            <fieldText>&lt;p&gt;Sorry {!Fetching_Product_Details.Name} is out of stock&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Placed_Screen</name>
        <label>Order Placed Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decrement_Quantity</targetReference>
        </connector>
        <fields>
            <name>Orderplaced</name>
            <fieldText>&lt;p&gt;Your order has been placed successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Details_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Orderplacedemail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Customer_Name},&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Your order has been placed successfully.&lt;/p&gt;&lt;p&gt;Product Details:&lt;/p&gt;&lt;p&gt;Product Id: {!Fetching_Product_Details.Id}&lt;/p&gt;&lt;p&gt;Product Name: {!Fetching_Product_Details.Name}&lt;/p&gt;&lt;p&gt;Price: {!Fetching_Product_Details.MRP__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for shopping with us!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ProductUnavailableEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Sorry {!Fetching_Product_Details.Name} is currently out of stock. We will notify you once it is available.&lt;/p&gt;&lt;p&gt;Sorry for the inconvenience&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
