force-app/main/default/flows/Cancel_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>IncreaseQuantity</name>
        <dataType>Number</dataType>
        <expression>ABS({!Fetch_Mobile_Record.Quantity__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Cancel Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_cancelled_order</name>
        <label>Delete cancelled order</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Fetch_Mobile_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_record_to_delete.Id</elementReference>
            </value>
        </filters>
        <object>All_Orders__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Fetch_Mobile_Record</name>
        <label>Fetch Mobile Record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_record_to_delete.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mobile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_record_to_delete</name>
        <label>Fetch record to delete</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_cancelled_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>All_Orders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Increment_Quantity</name>
        <label>Increment Quantity</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Order_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_record_to_delete.Record_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>IncreaseQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Mobile__c</object>
    </recordUpdates>
    <screens>
        <name>Cancel_Order</name>
        <label>Cancel Order?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fetch_record_to_delete</targetReference>
        </connector>
        <fields>
            <name>Verifycancel</name>
            <fieldText>&lt;p&gt;Do you really want to cancel your order?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes, cancel my order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Cancelled</name>
        <label>Order Cancelled</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cancelsuccess</name>
            <fieldText>&lt;p&gt;Your order has been cancelled successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cancel_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelledProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CancelledProductName</elementReference>
        </value>
    </variables>
    <variables>
        <name>mobileRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{recordId}</stringValue>
        </value>
    </variables>
</Flow>
